

.kirjuta {
    padding-top: 60px;
    font-size: 25;
}

h2 {
    font-weight: 500;
    padding-bottom: 20px;
}

.form-group {
    width: 350px;
}
.nuppKontakt {
    width: 350px;
}

.registreerimisPilt {
    width: 100%
}

.paiskonteiner2 {
    height: 200px;
}

.registreeruMatkale {
    padding-top: 20px;
    padding-bottom: 50px;
}